<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Shopoholics by Vapasians</title>
</head>
<body>
<div class="container">
    <table>
        <tr>
            <td>
                <a th:href="@{/admin}"><img src="/create-online-shopping-website.jpg"/></a>
            </td>
            <td>
                <div style="text-align: center">
                    <h1 style="font-style: italic;font-size: 80px">ShopoholicsAdmin</h1><br><br>
                    <h3 style="font-family: 'Comic Sans MS'">Shop till you drop!</h3>
                </div>
            </td>
        </tr>
    </table>
    <div style="float:right">
        <text th:if="${session.loggedInUser != null}" th:text="'Welcome ' + ${session.loggedInUser.getUserName()} + '!'"></text>
        <a th:if="${session.loggedInUser != null}" th:href="@{/logout}" class="hyperlink">Logout</a>
    </div>
    <br><br>

    <span style="font-weight: bold" th:text="${successMessage}"></span>
<br>
    <table>
        <form th:action="@{/admin/addproducts}" th:object="${product}" method="POST" onsubmit="return validateForm();">
            <span id="errormesg" style="color: red"></span>


            <tr><td><label>Product Name</label></td><td>
            <input type="text" th:field="*{productName}" required/></td></tr>
            <tr><td><label>Price</label></td><td>
            <input type="number" th:field="*{price}" required/></td></tr>
            <tr><td><label>Quantity</label></td><td>
            <input type="number" th:field="*{quantity}" required/></td></tr>
            <tr><td><label>Category</label></td><td>
            <select th:field="*{categoryId}">
                <option th:value="'1'" th:text="Electronics"></option>
                <option th:value="'2'" th:text="HomeDecor"></option>
                <option th:value="'3'" th:text="Accessories"></option>
                <option th:value="'4'" th:text="Books"></option>
            </select></td></tr>

            <tr><td colspan="2"> <button class="btn btn-primary btn-sm" type="submit">Add Product</button></td></tr>
        </form>
    </table>
</div>
<script>
    function validateForm() {
        var value = document.getElementById("product");
        //var value = e.options[e.selectedIndex].value;
        if (value == '') {
            return false;
        }
        return true;
    }
    </script>
</body>
</html>