<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Shopoholics by Vapasians</title>
</head>
<body>
<div class="container">
<table>
    <tr>
        <td>
            <img src="create-online-shopping-website.jpg"/>
        </td>
        <td>
            <div style="text-align: center">
                <h1 style="font-style: italic;font-size: 80px">Shopoholics</h1><br><br>
                <h3 style="font-family: 'Comic Sans MS'">Shop till you drop!</h3>
            </div>
        </td>
    </tr>
</table>
<div style="float:right">
    <text th:if="${session.loggedInUser == null}">Welcome User!</text>
    <text th:if="${session.loggedInUser != null}" th:text="'Welcome ' + ${session.loggedInUser.getUserName()} + '!'"></text>
    <a th:if="${session.loggedInUser != null}" th:href="@{/logout}" class="hyperlink">Logout</a>
</div>

<br><br>
<h2>Cart</h2>
<br>

<div th:if="${products.size()==0}">
    <div class="alert alert-info">
        <text>You do not have items in your cart!</text><a th:href="@{/}" style="margin-left: 10px">Browse our collection here!</a>
    </div>
</div>

    <form action="#" th:action="@{/cartsubmit}" th:object="${products}" method="POST" th:if="${products.size() > 0}">

        <table class="table" border="2">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>

                </th>
            </tr>
            </thead>
            <tr th:each="pr:${products}">
                <td th:text = "${pr.getProductName()}" th:name="productName" th:readonly="true"  width="30%">
                </td>
                <td th:text = "${pr.getPrice()}" width="10%">
                </td>

                <td width="10%">
                    <button th:name="action" th:value="remove">Remove</button>
                    <input th:hidden="true" th:value= "${pr.getId()}" width="10%" name="productId"/>
                </td>
            </tr>
        </table>
        </form>
    <form action="#" th:action="@{/checkout}" th:object="${products}" method="POST" th:if="${products.size() > 0}">

    <button class="btn btn-primary btn-sm" th:type="submit" th:name="action" th:value="checkout">Check Out</button>
    </form>
</div>
</body>
</html>