<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Shopoholics by Vapasians</title>
</head>
<body>
<div class="container">
    <table>
        <td>
            <a th:href="@{/}"><img src="create-online-shopping-website.jpg"/></a>
        </td>
        <td>
            <div style="text-align: center">
                <h1 style="font-style: italic;font-size: 100px">Shopoholics</h1><br><br>
                <h3 style="font-family: 'Comic Sans MS'">Shop till you drop!</h3>
            </div>
        </td>
    </table>
    <br><br>
    <h2>Login to Shopoholics</h2>
    <br>
    <!--- Form with bootstrap validation --->
    <form class="needs-validation" th:action="@{/login}" th:object="${user}" method="POST">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <button class="btn btn-primary btn-sm" style="float:left;background: #007bff" onclick="loadCustomerForm();" type="button">Customer</button>
                <button class="btn btn-primary btn-sm" style="float:right;background: lightcoral" onclick="loadAdminForm();" type="button">Admin</button>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">Username</label>
                <input type="text" class="form-control" id="validationCustom01" th:field="*{loginName}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">Password</label>
                <input type="password" class="form-control" id="validationCustom02" th:field="*{loginPwd}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="form-row">
            <label style="font-weight:lighter;color: lightcoral" th:if="${loginErrorMessage != null}" th:text="${loginErrorMessage}"></label>
        </div>

        <button class="btn btn-primary btn-sm" type="submit" id="loginFormSubmitButton">Get Addicted</button>
    </form>
    <a th:href="@{/signUp}" class="hyperlink" id="signUpLink">New to Shopoholics? Sign up Now!</a>


    <!--- Form without bootstrap validation --->
    <!---<form class="form" th:action="@{/login}" th:object="${user}" method="POST">
        <table style="text-align: center">
            <tr>
                <td class="text">
                    Username
                </td>
                <td>
                    <input class="input" type="text" th:field="*{loginName}">
                </td>
            </tr>
            <tr>
                <td class="text">
                    Password
                </td>
                <td>
                    <input class="input" type="password" th:field="*{loginPwd}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Get Addicted" class="btn-primary" style="border-radius: 10px">
                </td>
                <td>
                    <a th:href="@{/signUp}" class="hyperlink">New to Shopoholics? Sign up Now!</a>
                </td>
            </tr>
        </table>
    </form>-->
</div>

</body>

<!--- Login Form validation --->
<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    function loadCustomerForm()
    {
            document.getElementById("loginFormSubmitButton").style.backgroundColor="#007bff";
            document.getElementById("loginFormSubmitButton").style.border="#007bff";
            document.getElementById("signUpLink").style.visibility="visible";
            document.getElementById("loginFormSubmitButton").innerText="Get Addicted";
    }
    function loadAdminForm()
    {
        document.getElementById("loginFormSubmitButton").style.backgroundColor="lightcoral";
        document.getElementById("loginFormSubmitButton").style.border="lightcoral";
        document.getElementById("signUpLink").style.visibility="hidden";
        document.getElementById("loginFormSubmitButton").innerText="Stock Up";
    }
</script>
</html>