<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Shopoholics by Vapasians</title>
</head>
<body>
<div class="container">
    <table>
        <tr>
            <td>
                <a th:href="@{/}"><img src="create-online-shopping-website.jpg"/></a>
            </td>
            <td>
                <div style="text-align: center">
                    <h1 style="font-style: italic;font-size: 80px">Shopoholics</h1><br><br>
                    <h3 style="font-family: 'Comic Sans MS'">Shop till you drop!</h3>
                </div>
            </td>
        </tr>
    </table>
    <div style="float:right">
        <text th:if="${session.loggedInUser == null}">Welcome User!</text>
        <text th:if="${session.loggedInUser != null}" th:text="'Welcome ' + ${session.loggedInUser.getUserName()} + '!'"></text>
        <a th:unless="${session.loggedInUser}" th:href="@{/login}" class="hyperlink">Login</a>
        <a th:unless="${session.loggedInUser}" th:href="@{/signUp}" class="hyperlink">Register</a>
        <a th:if="${session.loggedInUser != null}" th:href="@{/logout}" class="hyperlink">Logout</a>

    </div>

    <br><br>

    <div id="container">
        <h4> Thank you for choosing Shopoholics! We will email you shipping details shortly.</h4>
        <br>
        <div class="alert alert-info">
            <strong>Success!</strong><text th:text="'  Your order ID is : ' + ${orderid}">Your order was placed!</text>
        </div>
        <br>
        <a th:href="@{/}">More products!</a>
    </div>
</body>
</html>